{% load static %}
<a class="animal-click" href="{% url "adoptions:animal" animal.id %}">
    <div class="card_animal">
        <div class="imagem_animal">
            {% if animal.images.exists %}
                {% for image in animal.images.all %}
                    {% if forloop.counter0 <= 0 %} 
                    <img class='image_animal' src="{{ image.image.url }}" alt="Imagem do {{ animal.nome }}">  
                        {% endif %}
                {% endfor %}
            {% else %}
                <img src="{% static 'images/animals/sem_foto.jpg' %}" alt="O animal {{ animal.nome }} está sem foto" style="max-height: 200px;">
            {% endif %}
        </div>
        <div class="informacoes_animal">
            <div class="texto_animal">
                <p class="card-text">Animal: <b>{{ animal.tipo }}</b></p>
                <p class="card-text">Raça: <b>{{ animal.raca }}</b></p>
                <p class="card-text">Idade: <b>{{ animal.idade }} meses</b></p>
                <p class="card-text">Estado: <b>{{ animal.user.estado }}</b></p>
            </div>
            <div class="genero_animal">
                {% if animal.genero == 'Macho' %}
                    <img class='gender-male' src=" {% static "images/icons/male.png" %} " alt="male">
                {% elif animal.genero == 'Femêa' %}
                    <img class='gender-female' src=" {% static "images/icons/female.png" %} " alt="female" style="width: 80px; padding-right: 0px;">
                {% endif %}
            </div>
        </div>
    </div>
</a>