body{
    background-color: rgb(193, 193, 193);
}

/* NAVBAR */

.login-aba {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.login-aba:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

.container-fluid{
    padding: 0 20px;
}

/* ------------------------- animal qu eu fiz ------------------------ */

.animal-click{
    text-decoration: none;
    color: white;
}

.card_animal:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.card_animal{
    border: solid 1px #333;
    background-color: #333;
    max-width: 240px;
    color: white;
    border-radius: 4px;
    flex-direction: column;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.informacoes_animal{
    border-top: solid 1px #333;
    display: flex;
    flex-direction: row;
    
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    justify-content: space-between;
    font-style: normal;
    font-size: 14px;
    padding: 2vh 0 3px 2vh;
    text-shadow: 1px 1px 1px black;
}

.texto_animal{
    max-width: 60%;
    flex-wrap: wrap;
    word-break: break-word;
    white-space: normal;
}

.genero_animal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.imagem_animal {
    width: 100%;
    height: 28vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image_animal {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    object-fit: cover; 
    max-height: 200px; 
}

.gender-male {
   width: 60%;
   height: 60%;
}
.gender-female {
    height: 65%;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 3px 0;
}

.date p{
    font-size: 11px;
}

