{% extends "base/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "adoptions/animal.css" %}">
{% endblock style %}

{% block content %}
    <div class="todos-div">
        {% include "components/animal-div.html" %}
        {% include "components/ficha-div.html" %}
        {% include "components/dono-div.html" %}
    </div>
{% endblock content %}


{% block js %}
    {% include "components/favoritar.js" %}
    function addPulseEffect(button) {
        var pulse = document.createElement('span');
        pulse.className = 'pulse';
        button.appendChild(pulse);

        pulse.addEventListener('animationend', function() {
            pulse.remove();
        });
    }

    function showToast(message) {
        var toast = document.getElementById('toast');
        toast.textContent = message;
        toast.classList.add('show');
        
        setTimeout(function() {
            toast.classList.remove('show');
        }, 3000); 
    }
{% endblock js %}