{% load static %}
<div class="fundo">
    <div class="title"><h2>Categorias</h2></div>
    <div class='allSteps'> 
        <a href="/pagina-do-gato" class="card-link">
            
            <div class="card" style="width: 18rem;">
                <img src="{% static "images/animals/cat.jpg" %}" class="card-img-top" alt="Gato">
                <div class="card-body">
                    <p class="card-text">Gatos são animais de estimação independentes e carinhosos, conhecidos por sua agilidade e personalidade única. Com uma gama de raças e características, eles são ótimos companheiros que proporcionam conforto e alegria aos seus lares.</p>
                </div>
            </div>
        </a>
        
        <a href="/pagina-do-cachorro" class="card-link">
            <div class="card" style="width: 18rem;">
                <img src="{% static "images/animals/dog.png" %}" class="card-img-top" alt="Cachorro">
                <div class="card-body">
                    <p class="card-text">Cachorros são conhecidos por sua lealdade e amizade incondicional. Como os melhores amigos do homem, eles trazem energia, amor e diversão para qualquer família. Cada raça possui suas próprias qualidades e necessidades, tornando-os companheiros versáteis e amorosos.</p>
                </div>
            </div>
        </a>
        
        <a href="/pagina-das-aves" class="card-link">
            <div class="card" style="width: 18rem;">
                <img src="{% static "images/animals/aves.jpg" %}" class="card-img-top" alt="Aves">
                <div class="card-body">
                    <p class="card-text">As aves são fascinantes e variadas, com uma ampla gama de cores e comportamentos. Desde os papagaios coloridos até os canários melodiosos, elas encantam com sua beleza e vivacidade, sendo excelentes animais de estimação que adicionam um toque especial à vida cotidiana.</p>
                </div>
            </div>
        </a>
        
    </div> 
    <div class='button-area'><a href="{% url "adoptions:todos" %}"><button type="button" class="btn btn-dark">Ver Todos</button></a></div>

</div>