.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 8% 5%;
    
}
.h2{
    text-align: center;
    padding-bottom: 10px;
}
.login-input{
    
    padding: 30px 40px 40px 40px;
    border-radius: 12px;
    -webkit-box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.35);
    box-shadow: 0px 6px 23px -1px rgba(0,0,0,0.35);
}
.form-check{
    padding: 10% 8%;
}

.click-text{
    padding-left: 20px;
}
