.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 7% 7% 7%;
}

.ajustes {
    margin-top: 15px;
}

.click-text {
    padding-left: 20px;
}

.h2 {
    text-align: center;
    padding-bottom: 15px;
}

.register-cred {
    padding-top: 2%;
    margin-top: 20px; /* Adicionado para separar as credenciais do resto do formulário */
}
