{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .button2{
        padding: 20px 20px;
        background-color: red;
        color: white;
        margin: 30px 0px;
        border-radius: 200px;
    }
    .div-principal{
        border: solid 2px white;
        padding: 30px;
        flex-direction: column; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
</style>
<body >
    <div class="div-principal">
    <h1>Olá {{user.user_name}}</h1>
    <h3>Que pena que você perdeu sua senha, aqui ta o seu link para altera-la :D</h3>
    <a href="{{reset_url}}"><button class="button2">Clique aqui para mudar sua senha</button></a>
    <p>link completamente seguro, e válido por 1 hora</p>
    </div>
</body>
</html>