{% load static %}

<div class="usuario-infos">
    {% with animal.user.profile_image.first as profile_image %}
            {% if profile_image %}
                <img class="rounded-photo" src="{{ profile_image.image.url }}" alt="Profile Image">
            {% else %}
                <img class="rounded-photo" src="{% static 'images/icons/anonimo.jpg' %}" alt="Default Image">
            {% endif %}
        {% endwith %}
    <h5><b>{{ animal.user.name }}</b></h5>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ animal.user.email }}</li>
        <li class="list-group-item">Cidade: {{ animal.user.cidade }}</li>
        <li class="list-group-item">Estado: {{ animal.user.estado }}</li>
        <li class="list-group-item">Número: {{ animal.user.number }}</li>
    </ul>
    <div class='button-area'><a href="#"><button type="button" class="btn btn-dark">Tenho interesse</button></a></div>
    <p>enviaremos um e-mail ao anunciante.</p>
</div>